<html>
    <head>
    </head>
    <body>
        <div>
            <h5>login</h5>
            <form action="/login" method="post">
                <label for="username">username</label>
                <input type="test" name="username"/>
                <label for="password">password</label>
                <input type="password" name="password"/>
                <input type="submit"/>
            </form>
        </div>
        <div>
            <h5>signup</h5>
            <form action="/signup" method="post">
                <label for="username">username</label>
                <input type="test" name="username"/>
                <label for="password">password</label>
                <input type="password" name="password"/>
                <input type="submit"/>
            </form>
        </div>
    </body>
</html>
